.poppins{
    font-family: "Poppins", sans-serif;
    
}
.box-1{
    grid-area:box-1 ;
}
.box-2{
    grid-area:box-2 ;
}
.box-3{
    grid-area:box-3 ;
}
.box-4{
    grid-area:box-4 ;
}
.box-5{
    grid-area:box-5 ;
}
.box-6{
    grid-area:box-6 ;
}
.box-7{
    grid-area:box-7 ;
}
.box-8{
    grid-area:box-8 ;
}
.box-9{
    grid-area:box-9 ;
}
.box-10{
    grid-area:box-10 ;
}
.box-container{
    display: grid;
    grid-template-areas: 
   "box-1  box-1  box-2 box-2  box-2  box-2 box-2  box-3  box-3 box-4  box-4  box-4"
   "box-5  box-5  box-5 box-6  box-6  box-6 box-7  box-7  box-7 box-4  box-4  box-4"
   "box-5  box-5  box-5 box-6  box-6  box-6 box-7  box-7  box-7 box-4  box-4  box-4"
   "box-8  box-8  box-8 box-9  box-9  box-9 box-10  box-10  box-10 box-4  box-4  box-4"
   "box-8  box-8  box-8 box-9  box-9  box-9 box-10  box-10  box-10 box-4  box-4  box-4"
    ;
}
button:disabled{
    background-color: gainsboro;
    cursor: not-allowed;
}

